<div class="generic">
    <div class="info">
        <p class="header">DO YOU WANT TO PLAY BATTLESHIP? </p>
        <p class="description"> <b>First,</b> you need a partner.</p>
        <p class="description"> <b>Second,</b> create a name for identifying your game. For example, "nuria-game". You'd be able to access your game typing <span id="url"></span></p>
        <p class="description"> <b>Third,</b> share the URL with your partner (from now on, your enemy) and start playing!</p>
    </div>
</div>

<script> document.getElementById("url").innerHTML = window.location.href + "[GAME-NAME]"; </script>